In [1]:
import pandas as pd
import numpy as np
import pandas.io.sql as pds
import sqlite3

In [2]:
!wget -P data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/baseball.db

--2025-04-06 13:39:27--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/baseball.db
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7626752 (7.3M) [binary/octet-stream]
Saving to: ‘data/baseball.db’

baseball.db         100%[===================>]   7.27M  2.82MB/s    in 2.6s

2025-04-06 13:39:33 (2.82 MB/s) - ‘data/baseball.db’ saved [7626752/7626752]

In [7]:
path='data/baseball.db'
con=sqlite3.Connection(path)
print(con)
query='''SELECT * FROM allstarfull;'''
allstar_observations=pd.read_sql(query,con)
print(allstar_observations.head())

<sqlite3.Connection object at 0x77c40c021990>
   index   playerID  yearID  gameNum  ... teamID lgID   GP  startingPos
0      0  gomezle01    1933        0  ...    NYA   AL  1.0          1.0
1      1  ferreri01    1933        0  ...    BOS   AL  1.0          2.0
2      2  gehrilo01    1933        0  ...    NYA   AL  1.0          3.0
3      3  gehrich01    1933        0  ...    DET   AL  1.0          4.0
4      4  dykesji01    1933        0  ...    CHA   AL  1.0          5.0

[5 rows x 9 columns]

In [5]:
all_tables=pd.read_sql("SELECT * FROM sqlite_master",con)
print(all_tables)

    type  ...                                                sql
0  table  ...  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  index  ...  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  table  ...  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  index  ...  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  table  ...  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  index  ...  CREATE INDEX "ix_batting_index"ON "batting" ("...

[6 rows x 5 columns]

In [6]:
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())
### END SOLUTION

    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588