In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
con=sqlite3.connect('socioeconomic.db')
cur=con.cursor()
%load_ext sql
%sql sqlite:///socioeconomic.db

AttributeError: module 'matplotlib.cm' has no attribute 'register_cmap'

In [8]:
import prettytable
prettytable.DEFAULT='DEFAULT'

In [9]:
data=pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
data.to_sql('chicago_crime_data',con,if_exists='replace',index=False,method='multi')
df=pd.read_sql('select * from chicago_crime_data',con)
df

NameError: name 'con' is not defined

In [10]:
%sql select name from sqlite_master where type='table'

 * sqlite:///socioeconomic.db
Done.

[('chicago_socioeconomic_data',),
 ('chicago_school_progress',),
 ('chicago_crime_data',)]

In [11]:
%sql PRAGMA table_info([chicago_crime_data])

 * sqlite:///socioeconomic.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

In [12]:
%%sql
select count(case_number) from chicago_crime_data

 * sqlite:///socioeconomic.db
Done.

[(533,)]

In [15]:
%%sql 
select community_area_number,community_area_name from chicago_socioeconomic_data s,chicago_crime_data c where s.community_area_number=c.community_area_number

 * sqlite:///socioeconomic.db
(sqlite3.OperationalError) no such column: s.community_area_number
[SQL: select community_area_number,community_area_name from chicago_socioeconomic_data s,chicago_crime_data c where s.community_area_number=c.community_area_number]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [17]:
%%sql
select ca,community_area_name from 
chicago_socioeconomic_data where per_capita_income_<11000

 * sqlite:///socioeconomic.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

In [19]:
%%sql 
select community_area_name from chicago_socioeconomic_data where 
hardship_index=(select max(hardship_index) from chicago_socioeconomic_data)

 * sqlite:///socioeconomic.db
Done.

[('Riverdale',)]

In [4]:
%sql PRAGMA table_info([chicago_socioeconomic_data])

 * sqlite:///socioeconomic.db
Done.

[(0, 'ca', 'REAL', 0, None, 0),
 (1, 'community_area_name', 'TEXT', 0, None, 0),
 (2, 'percent_of_housing_crowded', 'REAL', 0, None, 0),
 (3, 'percent_households_below_poverty', 'REAL', 0, None, 0),
 (4, 'percent_aged_16_unemployed', 'REAL', 0, None, 0),
 (5, 'percent_aged_25_without_high_school_diploma', 'REAL', 0, None, 0),
 (6, 'percent_aged_under_18_or_over_64', 'REAL', 0, None, 0),
 (7, 'per_capita_income_', 'INTEGER', 0, None, 0),
 (8, 'hardship_index', 'REAL', 0, None, 0)]

In [5]:
%sql select * from

 * sqlite:///socioeconomic.db
(sqlite3.OperationalError) near "where": syntax error
[SQL: select * from chicago_crime_data limit where primary_type="kidnapping"]
(Background on this error at: https://sqlalche.me/e/14/e3q8)